POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_USER=
PORT=
DB_PORT=
REDIS_PORT=
REDIS_URL=
DATABASE_URL=
GOOSE_DBSTRING=
GOOSE_DRIVER=
GOOSE_MIGRATION_DIR=/migrator/migrations
POSTGRES_HOST=
TEMPLATES_DIR=/app/internal/templates
FROM_EMAIL=
FROM_EMAIL_PASSWORD=
FROM_EMAIL_SMTP=
SMTP_ADDR=
SMTP_PORT=
ADMIN_EMAIL=